.post {
  margin: 1rem 0;
  padding: 1rem;
  background-color: rgb(210, 210, 210);
  border-radius: 8px;
  animation: animate-in 1s ease out forwards;
}

.author {
  font-size: 0.8rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.text {
  white-space: pre-wrap;
  color: black;
  font-size: 1rem;
}
